<!doctype html>
<html>
<head>
    <title>Search <%=shopName%></title>
  </head>
  <body>
    <h1>Search <%=shopName%></h1>
    <form action="/api-data" method="GET">
      <p>What book do you want?</p>
      <input id="search-box" type="text" name="keyword" value="Default">
      <input type="submit" value="Search">
    </form>
<a href="./">'Click here to go to the Home page'</a>
  </body>
</html>
