<!doctype html>
<html>
  <head>
    <title>Delete user from <%=shopName%></title>
  </head>
  <body>
    <h1>Delete user from <%=shopName%></h1>
    <form method="POST" action="/deleted">
        <p>Username: <input id="username" type="text" name="username" value="username" /></p>
        <input type="submit" value="Delete" />
      </form>
<a href="./">'Click here to go to the Home page'</a>
  </body>
</html>
