<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopName%></title>
  </head>
  <body>
    <h1>Welcome to <%=shopName%></h1>
    <p><a href="about">About <%=shopName%></a></p>
    <p><a href="search">Search for books</a></p>
    <p><a href="register">Register with us</a></p>
    <p><a href="addbook">Addbook</a></p>
    <p><a href="listusers">users list</a></p>
    <p><a href="list">List books</a></p>
    <p><a href="login">Login</a></p>
    <p><a href="deleteuser">delete</a></p>
    <p><a href="bargainbooks">Bargain books</a></p>
    <p><a href="logout">Logout</a></p>
    <p><a href="weather">Weather</a></p>
    <p><a href="api">API LIST</a></p>
    <p><a href="api-b">API B</a></p> 
 </body>
</html>
